.contato {
    background-color: #16181d;
    padding-bottom: 80px;
    background-image: url(../assets/Background_Contacts.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container4 {
    max-width: 560px;
    margin-inline: auto;
    text-align: center;
    padding-top: 100px;

    
}

.grid-container-contato {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    padding: 10px;
  }

  .item-contato {
    border-radius: 8px;
    overflow: hidden;
    text-align: left;
    border: 1px solid white;
    color: white;
    padding: 15px;
}