* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family-asap:'Asap', sans-serif;
    --font-family-inconsolata:'Inconsolata', sans-serif;
    --font-family-mavenpro:'Maven Pro', sans-serif;
    --h1: 800 44px/135% var(--font-family-mavenpro);
    --h3: 400 16px/140% var(--font-family-inconsolata);
    --p: 400 16px/140% var(--font-family-inconsolata);
}

